*{
	box-sizing:border-box;
}
ul li{
list-style:none;}
.head li{
	list-style:none;
	padding:5px;
}
.information li  a{
	text-decoration:none;
	padding:3px;
}
.app a{
text-decoration:none;
}
/*
#login{
	background:url(images/bg.jpg);
	background-size:cover ;
	background-repeat:no-repeat;
	min-height:580px;
}*/

.loginul{
	display:flex;
	justify-content:flex-end;
	padding:15px;
	list-style:none;
}
.loginul li{
	padding:5px;
}
.loginul li a{
	text-decoration:none;
}
#log{
	padding-top:12px;
	padding-right:10px;
}
.logo img{
	width:80px;
	height:80px;
}
#search-rest{
	width:387px;
	height:40px;
}

.drop{
	width:140px;
	height:40px;
}
.search-restaurant{
	margin-right:0px;	
}
@media screen and (max-width:500px){
	.banner {
		display:block;
		text-align:center;
	padding:10px 0}
}

@media screen and (max-width:768px){
	.buttonm{
		width:90vw;
		height:auto;
		margin:0 auto;
		padding:20px;
	}
}
@media screen and (max-width:768px){
	.drop{
		width:80vw;
		height:auto;
		margin:0 auto;
		
	}
}
	
	
	@media screen and (max-width:768px){
		.search-restaurant{
			display:block;
			width:80vw;
			height:auto;
			padding-top:20px;
			margin:0 auto;
		}
	}
	@media screen and (max-width:768px){
 #search-btn{
	 display:block;
	 width:80vw;
	 height:auto;
	 margin:0 auto;
 }
	}
	@media screen and (max-width:768px){
		#search-rest{
	 display:block;
	 width:80vw;
	 height:auto;
	 margin:0 auto;
 }
	}
 @media screen and (max-width:768px){
	 h5{
		 font-size:45px;
	 }
 }
 .main-container{
	 background:rgba(192,192,192,0.2);
	 width:100%;
	 height:auto;
	 }
	}
.widget{
display:flex;
flex-direction:column;
padding:10px;
}

#search-del{
	width:340px;
}
.expansion{
	width:80px;
}
.expand{
	width:425px;
}


@media screen and (max-width:786px){
	#search-del{
		width:80vw;
	}
	.expansion{
		width:80vw;
	}
	.expand{
		width:80vw;
	}
}

.ad img{
	width:auto;
	height:auto;
	margin-top:15px;
}
.sect{
	margin-top:30px;
}
@media screen and (max-width:768px){
	.section-title{
		text-align:center;
	}
	.section-subtitle{
		text-align:center;
	}
	.delivery_location{
		text-align:center;
	}
	.code{
		text-align:center;
	}
}

.card-horizontal {
    display: flex;
	flex:1;
}

.card1{
	margin-top:20px;
	margin-bottom:10px;
}
.card2{
	margin-top:20px;
	margin-bottom:10px;
}
.card3{
	margin-top:20px;
	margin-bottom:10px;
}
.card4{
	margin-top:20px;
	margin-bottom:10px;
}

@media screen and(max-width:786px){
	.advt{
		text-align:center;
		width:100%;
	}
}
.collections{
	border:1 px solid black;
	background:#fff;
	width:90%;
}

@media screen and (min-width: 769px) {
  .categories {
    margin-top: 20px;
  }
  #cat-title {
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #cat-subtitle {
    margin-left: 20px;
    margin-top: 0;
    padding-top: 0;
  }
  .category-list > li {
    padding: 0;
    margin: 5px 0 0 35px;
    display:inline-block;
  }
  figcaption {
    text-align: center;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  #cat-title {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
  #cat-subtitle {
    margin-left: 15px;
  }
  .category-list > li {
    padding: 0;
    margin: 5px 0 0 30px;
    display: inline-block;
  }
  .lists > img {
    width: 60px;
  }
  figcaption {
    text-align: center;
    width: 60px;
    display: block;
	font-size:2.1vw;
  }
}



.localities{
	width:100%;
	height:auto;
	margin-top:30px;

}

#loc-title{
	font-size:2rem;
	
}
#loc-subtitle{
	font-size:1rem;
}

@media screen and (max-width:786px){
.design{
	display:flex;
flex-direction:column;
}
.locality-list{
	text-align:justify;
	font-size:5vw;
	margin:auto;
}

#loc-title{
	font-size:7vw;
}
#loc-subtitle{
	font-size:5vw;
}
}
.design{
	font-size:1.7vw;
	display:flex;
	background:#fff;
	text-align:justify;
	justify-content:space-between;
	width:96%;
height:auto;}

@media screen and (max-width:666px){
	.img-square-wrapper img{
		width:200px;
		height:auto;
	}
}

footer{
	width:100%;
	margin-top:30px;
	margin-left:20px;
	background:#000;
	color:rgba(255,255,255,0.8);
}
.footer-wrapper img{
	width:80px;
	height:80px;
	margin-left:20px;
	margin-top:10px;
}
 #power{
	display:flex;
	justify-content:space-between;
	font-size:1rem;
}
 #math{
	display:flex;
	justify-content:space-between;
	font-size:1rem;
}
#social{
		display:flex;
	justify-content:space-between;
	font-size:1rem;
}
hr{
	background-color:rgba(255,255,255,0.1);
}
@media screen and (max-width:786px){
	 #power{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	font-size:4vw;
}
	
	 #math,.show,.hor{
		display:none;
	}
	#math{
		font-size:4vw;
	}
#social{
		display:flex;
		flex-direction:column;
	justify-content:space-between;
	font-size:4vw;
	
}
.para{
	font-size:3vw;
}
footer h4{
	font-size:5vw;
	font-weight:bold;
}
.footer-wrapper img{
	width:70px;
	height:auto;
	margin-left:20px;
	margin-top:10px;
}


